{% extends "nikki/base.html" %}

{% block title %}コメントの削除確認{% endblock %}

{% block content %}
<div class="container">
  <div class="col-12 text-center">
    <h1>削除の確認</h1>
    <p class="text-danger">以下のコメントを本当に削除しますか？</p>
    <p class="title mb-0 py-3">{{ comment.text }}</p>

    <form method="post">
    {% csrf_token %}
     {{ form }}

     <a href="{% url 'nikki:detail_comment' comment.id %}" class="mr-4">キャンセル</a>
     <button type="submit" class="switch-2 btn text-white">削除する</button>

   </form>

  </div>
</div>


{% endblock %}
