{% extends "nikki/base.html" %}
{% load static %}
{% block extracss %}
{% endblock %}

{% block title %}プライバシーポリシー{% endblock %}

{% block content %}
<div class="container">
  <h1 class="font-weight-bold my-2">プライバシーポリシー</h1>
  <p class="mt-4 mb-2">（１）個人情報の定義について</p>
  <p>
    当アプリにおいての個人情報とは、個人に関する情報であり、当該情報に含まれるニックネーム、メールアドレス、当アプリの各種コンテンツへのアクセスログや書き込み情報、ユーザーまたは会員が当アプリに発信した全てのもの、及び各個人に付与された数字や記号など、当アプリにおける全てのデータの事をいいます。
  </p>
  <p class="mt-5 mb-2">（２）個人情報の収集について</p>
  <p>
    当アプリをより良いコンテンツ及びサービスにする為に、必要に応じてユーザー、または会員の皆様からいくつかの情報を収集させて頂く事があります。（無断では行いません）
  </p>
  <p class="mt-5 mb-2">（３）個人情報の管理について</p>
  <p>
    当アプリにおいて個人情報の管理に携わるのは、当アプリの開発、運営者である宇野貴昭に限定されます。
  </p>
  <p class="mt-5 mb-2">（４）個人情報の開示について</p>
  <p>
    「失敗diary」では、当方及び機密保持契約を結んだ当方の協力企業以外に、ユーザーまたは会員の許可なく個人情報を開示することはありません。
    ただし、以下のような場合は、当該ユーザーの事前の同意なく、個人情報を開示する場合があります。
  </p>
  <ol>
    <li class="my-4">
      裁判所、検察庁、警察、弁護士会、消費者センター又はこれらに準じた一定の権限を有する機関から利用者に関する情報の開示を求められた場合。
    </li>
    <li class="my-4">
      ユーザーまたは会員が自分以外の全ての者に不利益を及ぼすと、当方が判断した場合。
    </li>
    <li class="my-4">
      ユーザー、または会員の個人情報に何らかの処理を施した際に、ユーザー、または会員の情報が混同してしまった場合。
    </li>
    <li class="my-4">
      当方や当アプリまたは当方の関係企業の財産や権利を保護するために情報の開示の必要がある場合のすべて。
    </li>
  </ol>
  <p class="text-center pt-3 pb-2">
    <a class="more" href="{% url 'nikki:rules' %}">利用規約</a>
  </p>
</div>

{% endblock %}