{% extends "nikki/base.html" %}
{% load static %}
{% block extracss %}
{% endblock %}

{% block title %}利用規約{% endblock %}

{% block content %}
<div class="container">
  <h1 class="font-weight-bold my-2">利用規約</h1>
  <p class="mt-4 mb-2">
    （１）この利用規約（以下「本規約」）は、ご利用者（以下「ユーザー」（法人含む））および当方の提供するサービスである「失敗diary」に関わるその他のユーザーと当方（開発者：宇野貴昭）の関係に適用されるサービス規約です。
  </p>
  <p class="mt-4 mb-2">
    本規約内での「アプリ」とは、当方の提供するプログラム、および当方と契約関係にあるデータベースまたはサーバー内において提供されているプログラムのすべてを含むものとする。
  </p>
  <p class="mt-4 mb-2">
    ユーザーは本規約に同意した場合のみアプリを利用することができ、本規約を閲覧する行為または当アプリから退場する行為以外の行為（電磁的な手段、その他の手段を含む）をした時点で本規約に同意したものとみなす。
  </p>
  <p class="mt-5 mb-2">
    （２）ユーザーは法令、条例、その他の規則を遵守し、当アプリを利用するにあたり他のユーザーまたは当方に対して誠実に接するように努めなければならない。
  </p>
  <p class="mt-5 mb-2">
    （３）ユーザーは不正な行為をしているまたは、している恐れのある他のユーザーを発見した場合は、速やかに当アプリを管理する当方に通知する義務を負うものとする。
  </p>
  <p class="mt-5 mb-2">
    （４）当方は、予告なく（１）などの規約の内容を変更する場合があります。なお、当方が重要と判断した情報に関してはメールなどの手法にて通知の手段とする場合があります。
  </p>

  <p class="text-center pt-3 pb-2">
    <a class="more" href="{% url 'nikki:privacy' %}">プライボリシーポリシー</a>
  </p>
</div>

{% endblock %}
