@charset "utf-8";

/* //////header////// */
header {
  background-color: skyblue;
}

/* //////footer////// */
footer {
  background-color: #e9ecef;
}

footer a:hover {
  font-weight: bold
}

.footer_link a {
  text-decoration: none;
}

/* //////common////// */
h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

.container {
  padding: 30px 15px;
}

.switch {
  background-color: skyblue;
}

.switch-2 {
  background-color: orange;
}

.more {
  color: skyblue;
  font-weight: bold;
}

.title, .text {
  word-wrap:break-word;
}

.title a {
  color: black;
}

.profile a {
  color: black;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: skyblue;
    border-color: skyblue;
}

.page-link {
  color: skyblue;
}

.category a {
  color: black;
  font-weight: bold;
}
